/* Pagina de Registro */

/* Estilo para toda la página tipo de fuente */
*{
    color:black;
    font-family: 'Fredoka', sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px;
}

h2{
    color:black;
    font-weight:900;
    font-family: "Fredoka", sans-serif; font-style: normal; font-variant: normal; line-height: 30px;
}




/* Estilo del fromulario */
#cardRegistro {
    margin-top: 5rem;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

